<div id="navbar" (click)="clickOnMain()">
  <i class="fa fa-apple"></i>
  <strong>OMV WebDesk</strong>

  <ng-container *ngFor="let item of navitems; let i = index;">
    <span [class.selected]="item.selected" style="padding: 6px;" >
      <div (click)="clickOnTitle(item,$event)" style="display:inline" (hover)="hoverTitle(item)" >{{item.label}}</div>
      <ul>
        <ng-container *ngFor="let subitem of item.submenu;">
          <li (click)="clickOnSubTitle(subitem,$event)">{{subitem.label}}</li>
        </ng-container>
      </ul>
    </span>
  </ng-container>

  <div style="float:right">{{heure}}</div>
</div>
