Source: openmediavault-webdesk
Section: net
XB-Plugin-Section: multimedia
Priority: optional
Maintainer: Antoine Weber <perso@weberantoine.fr>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 4.1.4

Package: openmediavault-webdesk
Architecture: all
Depends: nginx,
         openmediavault (>= 4.0.4),
         php-fpm,
         ${misc:Depends}
Description: OpenMediaVault Plugins - WebDesk server
    WebDesk - Easy access to your Apps/Plugins with a virtual desktop as a webapp. Configuration is based on yours users and folders sharings defined in the OMV administration UI.
