Source: openmediavault-webdesk
Section: net
XB-Plugin-Section: multimedia
Priority: optional
Maintainer: Antoine Weber <perso@weberantoine.fr>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 4.1.4

Package: openmediavault-webdesk
Architecture: all
Depends: nginx,
         openmediavault (>= 4.0.4),
         php-fpm,
         ${misc:Depends}
Description: add front part to an OpenMediaVault server.
  The project consist of a web app using OMV's config, to show some easy functionnality to your users. It is based on user and folder sharing defined in the OMV administration UI.
