<app-navbar></app-navbar>

<app-search></app-search>

<template ngFor let-item [ngForOf]="winlist" let-i="index" >
  <template [ngIf]="item.iframe">
    <div class="{{item.id}} iframe-responsive-wrapper" (resize)="winresize()">
      <img (resize)="winresize()" class="iframe-ratio" src="/assets/img/trans.gif" />
      <iframe [src]="item.iframe | safe" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </template>
  <template [ngIf]="!item.iframe">
    <div class="mywin {{item.id}}">{{item.text}}</div>
  </template>
</template>

<app-dock [icons]="winlist" (select)="dockSelect($event)"></app-dock>
