<app-navbar></app-navbar>

<app-search></app-search>

<template ngFor let-item [ngForOf]="winlist" let-i="index" >
  <template [ngIf]="item.opened">
    <template [ngIf]="item.iframe">

      <div [id]="item.id" class="intrinsic-container" (resize)="winresize()">
        <iframe [src]="item.iframe | safe" allowfullscreen></iframe>
      </div>

      
    </template>
    <template [ngIf]="!item.iframe">
      <div [id]="item.id" class="mywin {{item.id}}">{{item.text}}</div>
    </template>
  </template>
</template>

<app-dock [winlist]="winlist" (select)="dockSelect($event)"></app-dock>
